[submodule "lib/cocos-headers"]
	path = lib/cocos-headers
	url = https://github.com/HJfod/cocos-headers.git
[submodule "lib/minhook"]
	path = lib/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "lib/gd.h"]
	path = lib/gd.h
	url = https://github.com/HJfod/gd.h.git
